

.flex-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.show{
    display: block;
}
.hide{
    display: none;  
}
.flex-gap{
    display: flex;
     
    gap: 20px;
    justify-items:space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

div div h3{
    color:whitesmoke
}
div div span{
    color: whitesmoke;
}

#Filter button{
    /* background: radial-gradient(circle, rgb(183, 4, 238) 0%, rgb(92, 2, 87) 100%); */
    background: linear-gradient(to right, rgb(87, 6, 87),rgb(128, 11, 128));
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white;
    /* font-size: large; */
  margin: 10px;
  transition: all 0.1s ease-in-out  ;
}
    button:hover{
        transform: scale(1.15);
        cursor: pointer;
}
@media screen and (max-width:600px) {

.flex-gap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.flex-lang{
    min-width: 80vw;
}
}
